# Basic Joins

## Replace Employee ID With The Unique Identifier

#### Difficulty: $\star$

#### Hint: *Left/Right join*

#### Problem
Table: `employees`

| Column Name   | Type    |
|:-------------:|:-------:|
| id            | int     |
| name          | varchar |

`id` is the primary key for this table.
Each row of this table contains the id and the name of an employee in a company.

Table: `EmployeeUNI`

| Column Name   | Type    |
|:-------------:|:-------:|
| id            | int     |
| unique_id     | int     |

(`id`, `unique_id`) is the primary key for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.

Write an SQL query to show the **unique ID** of each user. If a user does not have a unique ID replace just show **null**. Return the result table in any order.

#### Solution:
The key to solving this problem is to understand that we have to join two tables. However, all the `name` in `Employees` must be returned. So it cannot be inner join, but rather **left join** or **right join**.

In [ ]:
/*Left join*/
Select uni.unique_id, em.name
From Employees em
Left Join EmployeeUNI uni
On em.id = uni.id

/*Or we can switch the order of the table and use right join*/
Select uni.unique_id, em.name
From EmployeeUNI uni
Right Join Employees em
On uni.id = em.id

## Rising Temperature
#### Difficulty: $\star$
#### Hint: *self join, `DATE_ADD`*
#### Problem

Table: `Weather`

| Column Name   | Type    |
|:-------------:|:-------:|
| id            | int     |
| recordDate    | date    |
| temperature   | int     |

`id` is the primary key for this table.
This table contains information about the temperature on a certain day.

Write an SQL query to find all dates' `Id` with higher temperatures compared to its previous dates (yesterday). Return the result table in any order.

#### Solution
To compare two rows in a table, we need to **self join** the table by some variable. In this case, we have to use `recordDate` (`id` will not work since adjacent rows might not correspond to adjacent days.) To self join the table, we need to use function
```SQL
DATE_ADD(date_variable, INTERVAL 1 DAY)
```

In [ ]:
Select w1.id AS Id
From Weather w1
Join Weather w2
On w1.recordDate = DATE_ADD(w2.recordDate, INTERVAL 1 DAY)
Where w1.temperature > w2.temperature

## Students and Examinations
#### Difficulty: $\star$
#### Hint: *Cross join, COUNT() (pay attention when choosing table)*
#### Problem

Table: `Students`

| Column Name   | Type    |
|---------------|---------|
| student_id    | int     |
| student_name  | varchar |

`student_id` is the primary key for this table.
Each row of this table contains the ID and the name of one student in the school.
 

Table: `Subjects`

| Column Name  | Type    |
|--------------|---------|
| subject_name | varchar |

`subject_name` is the primary key for this table.
Each row of this table contains the name of one subject in the school.
 

Table: `Examinations`

| Column Name  | Type    |
|--------------|---------|
| student_id   | int     |
| subject_name | varchar |

There is no primary key for this table. It may contain duplicates.
Each student from the Students table takes every course from the Subjects table.
Each row of this table indicates that a student with ID `student_id` attended the exam of `subject_name`.
 

Write an SQL query to find the number of times each student attended each exam. Return the result table **ordered by `student_id` and `subject_name`**.

#### Solution
The tricky part of this question is to figure out the correct sequence to join the tables. Since not every student takes part in the tests of all the subjects, we have to join `Examinations` last. However, since `Subjects` and `Students` share no common keys, we have to use **cross join**. 

To count how many exams each students attended, we can count by `subject_name`. However, this variable is shared in both `subjects` and `Examinations`. Since we want to know how many exams of different subjects a student actually attended, the variable has to come from `Examinations` table.

In [ ]:
Select st.student_id, st.student_name, sb.subject_name, COUNT(e.subject_name) AS attended_exams
From Students st
Cross Join Subjects sb
Left Join Examinations e
On st.student_id = e.student_id and sb.subject_name =  e.subject_name
Group by student_name, sb.subject_name
Order by st.student_id, sb.subject_name